
body{
	text-align: center;
	background-image: url("images/galaxy.jpg");
	background-repeat: no-repeat;
	background-size: 1920px 1080px;
	background-attachment: fixed;
	color: #0000cc;
	font-family: 'Abril Fatface', cursive;
	}
	
#link {
	text-align: center;
}
	
#wrapper {
	max-width: 1200px ;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
}

#heading {
	border-radius: 15px 50px;
	max-width: 400px;
	height: 90px;
	padding-top: 5px;
	margin-right: auto;
	margin-left: auto;
	background-color: #45005b;
	
}

#weeklyt {
	border-radius: 15px 50px;
	max-width: 150px;
	height: 60px;
	margin-right: auto;
	margin-left: auto;
	background-color: #45005b;
	
}
#tea {
	border-radius: 15px 50px;
	max-width: 400px;
	
	margin-right: auto;
	margin-left: auto;
	background-color: #45005b;
	
}

#cup {
	border-radius: 50px 15px;
	max-width: 700px;
	max-height: 500px;
	margin-right: auto;
	margin-left: auto;
	background-color: #45005b;

}

#wrapper2 {
	border-radius: 50px 15px;
	max-width: 800px;
	max-height: 500px;
	margin-right: auto;
	margin-left: auto;
	background-color: #ffffff;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

#weekly {
	border-radius: 15px 50px;
	max-width: 150px;
	height: 60px;
	height: 30px;
	margin-right: auto;
	margin-left: auto;
	background-color: #45005b;
	
	

}

#nav {
	border-radius: 50px 15px;
	max-width: 150px;
	height: 30px;
	margin-right: auto;
	margin-left: auto;
	background-color: #45005b;
	
	

}

#week1 {
	border-radius: 50px 15px;
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
	background-color: #ffffff;

}

#week2 {
	border-radius: 15px 50px;
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
	background-color: #ffffff;

}


figure{
	
}

ol{
	color: #000099;
	text-align: left;
	    list-style-position: inside;
}

ul{
	color: #000099;
	text-align: left;
	list-style-position: inside;
}

table{
	border: solid 2px black;
	border-collapse: collapse;
	
}

time{
	color: #9900cc
}
table .wed{
padding-right: 20px;	
padding-left: 20px;

}
table .friday{ 
padding-right: 20px;	
padding-left: 20px;

}
table .weekend{
padding-right: 20px;	
padding-left: 20px;

}
td{
	border: solid 2px black;
}
header{
	color:#ffffff;
	font-family: lobster, cursive;
	} 



.cards {
  display: flex;
  flex-wrap: wrap;
}
.card {
  display: flex; 
}
.card-content {
  flex-direction: column;
  width: 100%;
  border: 2px solid #0000cc;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 1.25em 1.25em 0.3em 0;
  padding: 1em;
}

/*640 px - tablet portrait orientation - 2 columns*/
@media screen and (min-width: 40em){
  .card { width: 50%; }
}
/*960 px* - tablet landscape orientation and above - 3 columns*/
@media screen and (min-width: 60em) {
  .card { width: 33.33%; }
}

label {display: block;}


.form1 {width: 20px}

#form {
	max-width: 50%;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}